name: CI Docker Build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
#      - name: Cache Docker layers
#        uses: actions/cache@v2
#        with:
#          path: /tmp/.buildx-cache
#          key: ${{ runner.os }}-buildx-${{ github.sha }}
#          restore-keys: |
#            ${{ runner.os }}-buildx-
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: thebigg1/rsty_physics:latest
#          cache-from: type=local,src=/tmp/.buildx-cache
#          cache-to: type=local,dest=/tmp/.buildx-cache
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }} && ls

#      - uses: actions/upload-artifact@v2
#        with:
#          name: ${{ github.job }}
#          path: bin/*
#          retention-days: 14
# - name: Upload to release page
#        uses: svenstaro/upload-release-action@v2
#        with:
#          repo_token: ${{ secrets.GITHUB_TOKEN }}
#          file: rsty_physics/target/debug/librsty_physics.so
#          asset_name: linux-x86_nightly_librsty_physics.so
#          tag: rsty_physics-nightly-release
#          overwrite: true
#          body: "Bleeding edge release for those who like to live on the edge :)"


  deploy-nightly:
    runs-on: ubuntu-latest
    container:
      image: thebigg1/rsty_physics:latest
    steps:
      #- name: Checkout
      #  uses: actions/checkout@v2
      - name: test
        run: ls /__w/rsty_physics/rsty_physics && ls /home/lgomez
      - name: Upload to release page
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/lgomez/rsty_physics/target/debug/librsty_physics.so
          asset_name: linux-x86_nightly_librsty_physics.so
          tag: rsty_physics-nightly-release
          overwrite: true
          body: "Bleeding edge release for those who like to live on the edge :)"



